{% load static %}
<footer class="bg-white py-4 text-center">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <ul class="d-flex justify-content-center social-bx">
                     <li class="p-2 m-1"><a href="#"><i class="bi bi-instagram"></i></a></li>
                     <li class="p-2 m-1"><a href="#"><i class="bi bi-twitter"></i></a></li>
                     <li class="p-2 m-1"><a href="#"><i class="bi bi-facebook"></i></a></li>
                  </ul>
               </div>
               <div class="col-12">
                  <p>نارنج بلاگ</p>
                  <p class="mb-0">&copy; حقوق انتشار برای مجموعه محفوظ است</p>
               </div>
            </div>
         </div>
</footer>
<div class="scroll_top">
         <span class="btn btn-info text-center text-light">
         <i class="bi bi-arrow-up"></i>
         </span>
</div>