{% load static %}
{% url 'homepage' as home %}
{% url 'articles' as blog %}
{% url 'category' as cat %}
<header>
         <div class="index-top position-relative w-100 bg-white">
            <div class="main-menu">
               <div class="container">
                  <div class="row">
                     <div class="col-md-2 col-3">
                     <a href="/" style='color:#ffae00;'>
                        <h1 style="margin-top:10px;font-family:iran;"> نارنج بلاگ </h1>
                     </a>
                        {% comment %} <img src="{% static 'img/logo.png' %}" alt="" height="30px" style="object-fit: contain;margin-top:18px;filter: grayscale(1);"> {% endcomment %}
                     </div>
                     <div class="col-md-7 col-5 pt-2">
                        <nav class="navbar navbar-expand-lg navbar-light">
                           <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                              aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse"
                              id="navbarSupportedContent">
                              <ul class="navbar-nav mb-2 mb-lg-0">
                                 <li class="nav-item">
                                    <a class="nav-link {% if request.path == home  %}text-danger{% endif %}" aria-current="page" href="/">خانه</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link  {% if request.path == blog  %}text-danger{% endif %}" href="/articles">مقالات</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#" tabindex="-1"
                                       aria-disabled="true">تماس با ما</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#" tabindex="-1"
                                       aria-disabled="true">درباره</a>
                                 </li>
                                 <li class="nav-item dropdown">
                                      <a class="nav-link % {%if request.path == cat  %}text-danger{% endif %}" href="/categories" tabindex="-1"
                                       aria-disabled="true">دسته بندی ها</a>
                                    </ul>
                                 </li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                     <div class="col-md-3 col-4 text-start">
                        <div class="top-account">
                           <a href="#" class="text-dark"><i class="bi bi-person"></i></a>
                           <a href="#" class="text-dark"><i class="bi bi-gem"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</header>