{% load static %}
<script src="{% static 'js/jQuery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="https://seo90.ir/downloads/category/html-theme/"></script>
<script>

function myFunction(x)
            {
                document.getElementById('reply_comment').value = x
            }

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>